a {
  color: rgb(255, 0, 0); /* définit la couleur du lien */
  text-decoration: none; /* supprime le soulignement du lien */
  font-style: italic;
  border-style: solid;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  
  
}

a:hover {
  color: rgb(255, 255, 255); /* définit la couleur du lien lorsque la souris passe au-dessus */
  text-decoration: underline; /* souligne le lien lorsque la souris passe au-dessus */
  font-style: italic;
  border-style: solid;
  border: 2px solid  rgb(255, 0, 0);
  border-radius: 5px;
  
}
